flows/Create_Contacts_For_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>452</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>oContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creat_Contact_For_Each_Account</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Contacts For Account_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contacts For Account_1</label>
    <loops>
        <name>Iterate_Through_Records</name>
        <label>Iterate Through Records</label>
        <locationX>233</locationX>
        <locationY>183</locationY>
        <assignNextValueToReference>oAccount</assignNextValueToReference>
        <collectionReference>ListAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creat_Contact_For_Each_Account</name>
        <label>Creat Contact For Each Account</label>
        <locationX>243</locationX>
        <locationY>397</locationY>
        <assignRecordIdToReference>oContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Iterate_Through_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>oAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>test@test.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>oAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <startElementReference>Iterate_Through_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>ListAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
